simple-hyperland/
orca-sync-log.txt
usbipd
.direnv/
nested.generated.lua
.qmlls.ini
result
nixos-shared/graphical/modules/quickshell/lib
nixos-shared/graphical/modules/quickshell/.sandbox-bin/
*inspo/
inspo*/
