window#quicksettings {
    background-color: transparent;
}

.qs-container {
    background-color: #1e1e2e;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #fab387;
}

.volume, .wifi {
    padding: 10px;
}

slider highlight {
    background-color: #fab387;
    border-radius: 10px;
}
