* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio-slider,
#backlight-slider,
#network,
#bluetooth,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
  background: alpha(@waybar-bg, 0.8);
  padding: 0px 10px;
  margin: 5px 0;
  /* border: 1px solid #181825; */
}

#workspaces button {
  padding: 5px;
  color: @inactive;
  margin-right: 5px;
}

#workspaces button.active {
  color: @waybar-active;
}

#workspaces button.focused {
  color: @waybar-active;
  background: @waybar-focused;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @waybar-dark;
  background: @waybar-urgent;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @waybar-hover;
  color: @waybar-dark;
  border-radius: 10px;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#backlight-slider {
  padding: 0px 10px;
  margin: 5px 0px;
  margin-right: 5px;
  border-radius: 0px 10px 10px 0px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @waybar-trough;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @waybar-active;
}


#pulseaudio {
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio-slider {
  padding: 0px 10px;
  margin: 5px 0;
  margin-right: 5px;
  border-radius: 0px 10px 10px 0px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @waybar-trough;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @waybar-active;
}

#tray {
  border-radius: 10px;
  margin-right: 5px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  /* color: @waybar-active; */
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#cpu {
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#memory {
  border-radius: 10px 0px 0px 10px;
}

#network {
  /* color: @waybar-active; */
  border-radius: 0px;
  padding: 0 5px 0 0;
}

#bluetooth {
  color: @waybar-active;
  border-radius: 10px 0px 0px 10px;
}

#battery {
  color: @waybar-active;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 15px 0px 0px; 
}

#battery.warning {
  color: #c7ca00; /* Yellow */
}

#battery.critical:not(.charging) {
  color: #e41111; /* Red */
}

#battery.charging, #battery.plugged {
  color: #13a300; /* Green */
}