* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #555869;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #cdd6f4;
  color: #11111b;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio-slider,
#backlight-slider,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 5px 0;
  /* border: 1px solid #181825; */
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#backlight-slider {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 5px 0px;
  margin-right: 5px;
  border-radius: 0px 10px 10px 0px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #313244;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #a6adc8;
}

#tray {
  border-radius: 10px;
  margin-right: 5px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 5px;
}

#cpu {
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#memory {
  border-radius: 10px 0px 0px 10px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #a6adc8;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: #a6adc8;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
  color: #a6adc8;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio-slider {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 5px 0;
  margin-right: 5px;
  border-radius: 0px 10px 10px 0px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #313244;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #a6adc8;
}

#battery {
  color: #a6adc8;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}
