@import "variables.css";

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#waybar > box {
  padding: 0;
  margin: 0;
}

window#waybar {
  background: alpha(@background, 0.8);
  opacity: 0.8;
  color: @text;
  border-bottom: 1px solid @inactive;
}

#workspaces button {
  border-radius: 90px;
  padding: 0px 5px 0px 5px;
  text-shadow: 0px 1px 2px black;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.2);
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.3);
}

#workspaces,
#clock,
#battery,
#pulseaudio,
#tray,
#cpu,
#memory,
#disk,
#network,
#backlight,
#idle_inhibitor {
  padding: 0 10px; /* Horizontal spacing only */
  margin: 0 2px;
  background-color: transparent;
}

#battery.charging,
#battery.plugged {
  color: @background;
  background-color: @secondary;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: @background;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @inactive;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @primary;
}
